body {
  margin: 0;
  padding: 0;
  background: #eee;
}

* {
  box-sizing: border-box;
}

body,
input,
button {
  font-family: 'Nunito', sans-serif;
}

.header {
  height: 50px;
  padding: 10px;
  margin-bottom: 50px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.logo {
  height: 30px;
  width: 30px;
}

.logo.big {
  height: 60px;
  width: 60px;
}

.user-info,
.repositories {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
  box-sizing: border-box;
  margin: 10px auto;
  padding: 30px 20px;
  width: 500px;
  min-height: 100px;
}

.user-info .logo {
  display: block;
  margin: 30px auto;
}

input {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 10px;
  width: 100%;
  outline: none;
  font-size: 16px;
}

input:hover,
input:focus {
  border-color: #2cc1ed;
}

button,
.button {
  background: #2cc1ed;
  border: 1px solid #1d99bd;
  color: #fff;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

button:hover,
.button:hover {
  background: #229bbf;
}

button:disabled,
.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:disabled:hover,
.button:disabled:hover {
  background: #2cc1ed;
}

img.avatar {
  height: 100px;
  border-radius: 5px;
}

.user-info .name {
  display: block;
  text-decoration: none;
  margin: 10px;
  color: #2cc1ed;
  font-size: 18px;
}

.description {
  color: #777;
  font-size: 12px;
}

.repo {
  text-align: left;
  padding: 10px 0;
}
.repo .name {
  text-decoration: none;
  color: #2cc1ed;
}
.repo .stars {
  float: right;
}
.repo .stars::after {
  content: ' \2605';
  color: gold;
}

.user-form {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
  box-sizing: border-box;
  margin: 70px auto 0;
  padding: 30px 50px;
  width: 500px;
  min-height: 100px;
}

.user-form .logo {
  display: block;
  margin: 30px auto;
}

.clear {
  clear: both;
}

.spinner {
  margin: 20px auto;
  width: 50px;
  height: 50px;
  border: 3px solid #aaa;
  border-radius: 50%;
  border-top-color: #042132;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
