html {
  --light-background: #e6edf1;
  --dark-background: #0e1a2d;
  --subtle-background: #6381b3;
  --error-background: #ffeff0;
  --text: #37465f;
  --subtle-text: #38578a;
  --dark-text: #23477d;
  --error-text: #ff3e36;

  --blue: #3498db;
  --green: #2ecc71;
  --yellow: #fee05a;
  --light-purple: #c5d4f1;
  --purple: #638ee1;
  --dark-purple: #316de0;
  --dark-blue: #0050e8;
}

body {
  margin: 0;
  padding: 0;
  background: #e6edf1;
}

* {
  box-sizing: border-box;
}

body,
input,
button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}

.header {
  height: 5px;
  margin-bottom: 50px;
  background: #638ee1;
  text-align: center;
}

.avatar {
  height: 100px;
  width: 100px;
  background: #e6edf1;
  border: 3px solid #316de0;
  border-radius: 50%;
}

a {
  color: #316de0;
  text-decoration: none;
}

.user-info,
.repositories {
  background: #fff;
  border: 1px solid #638ee1;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  margin: 10px auto;
  padding: 30px 20px;
  width: 500px;
  min-height: 100px;
}

.user-info .avatar {
  display: block;
  margin: 30px auto;
}

input {
  background: #fff;
  border: 2px solid #c5d4f1;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  outline: none;
  font-size: 16px;
}

input:hover,
input:focus {
  border-color: #316de0;
}
input:disabled {
  background: #d7ddea;
  cursor: not-allowed;
  opacity: 0.3;
}
input:disabled:hover {
  border-color: #c5d4f1;
}

button,
.button {
  background: #316de0;
  border-color: #316de0;
  color: #fff;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

button:hover,
button:focus,
.button:focus,
.button:hover {
  background: #0050e8;
}

button:disabled,
.button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
  color: #e6edf1;
}

button:disabled:hover,
.button:disabled:hover {
  background: #316de0;
}

.user-info .name {
  display: block;
  text-decoration: none;
  margin: 10px;
  color: #2cc1ed;
  font-size: 18px;
}

.description {
  color: #777;
  font-size: 12px;
}

.repo {
  text-align: left;
  padding: 10px 0;
}
.repo .name {
  text-decoration: none;
  color: #2cc1ed;
}
.repo .stars {
  float: right;
}
.repo .stars::after {
  content: ' \2605';
  color: gold;
}

.login-form,
.profile,
.home {
  background: #fff;
  border: 1px solid #c5d4f1;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  margin: 30px auto 0;
  padding: 30px 0;
  width: 500px;
  min-height: 100px;
}
.home {
  background: transparent;
  border: none;
}
.home div {
  margin: 60px 0;
}
.home .avatar {
  margin-bottom: 0;
}

.avatar {
  margin: 30px auto;
}

.avatar + div {
  margin-bottom: 30px;
}

.clear {
  clear: both;
}

.spinner {
  position: absolute;
  top: 96px;
  left: calc(50% - 50px);
  margin: 20px auto;
  width: 100px;
  height: 100px;
  border: 3px solid #c5d4f1;
  border-top-color: #316de0;
  border-radius: 50%;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.switch-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-right: 5px;
}
.switch input {
  opacity: 0;
  margin-left: -20px;
}
label.switch-container {
  margin-top: 5px;
}

label {
  color: #37465f;
  font-size: 0.9em;
  display: block;
  margin: 20px 0 5px;
  text-align: left;
}
label input {
  width: auto;
  margin-right: 5px;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b4c7ea;
  border: 2px solid #b4c7ea;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:focus + .slider {
  border-color: #316de0;
}
input:checked + .slider {
  background-color: #316de0;
  border-color: #316de0;
}
input:checked:focus + .slider {
  border-color: #0050e8;
}
input:checked + .slider:before {
  transform: translateX(16px);
}
input:disabled + .slider {
  background: #d7ddea;
  border-color: #d7ddea;
  cursor: not-allowed;
  opacity: 0.3;
}

.form {
  padding: 0 50px;
}
.form input,
.form button {
  margin: 5px 0;
}

.form label {
  width: 200px;
}
.profile {
  padding-top: 0;
  overflow: hidden;
}
.profile form button {
  margin-top: 20px;
}
.profile .slider {
  border-color: #316de0;
}

.alert {
  padding: 15px 0;
  background: #fff6ca;
  border-bottom: 2px solid #ecc74e;
  color: #88771e;
}

.icon {
  font-style: normal;
  margin-right: 5px;
}
.icon.warning::before {
  content: '⚠️';
}
.alert .icon {
  font-size: 1.2em;
  position: relative;
  top: 2px;
}

.red {
  background: #ff7070;
}

a.start {
  display: block;
  margin: 20px 0;
}

h2,
h3 {
  font-weight: normal;
}
h2 {
  color: #316de0;
}
.home small::before {
  content: '•';

  color: #638ee1;
  margin: 0 10px;
}
